.container{
  width: 1296px;
  margin: auto;
}
.header-container{
 display: flex;
 justify-content: space-between;
 margin-top: 30px;
 align-items: center; 
}
.logo-text{
color: #000;
font-family: Quicksand;
font-weight: 700;
font-size: 32px;
line-height: 120%; 
margin-top: 30.5px;
letter-spacing: 0.64px;
width:147px ;
height: 38px;
margin-left: 36px;
}
/*serch line*/
.input-serach{
 width: 293px;
 height: 37px; 
 font-weight: 500px;
 padding-left: 12px;
 margin-left: 44px;
 border-radius: 4px;
 border: 1px solid #5C5C5C;
 border-top-left-radius: 4px;
 border-bottom-left-radius: 4px;
 font-family: 'Quicksand';
}
.button-serach{
background: url(./images/logo/Group.svg);
background-repeat: no-repeat;
background-position: center;
justify-content: center;
align-items: center;
 width: 37px; 
 height: 37px;
 position: absolute;
 padding: 10px;
 border: none;
background-color: #0F8277;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
margin-top: 30px;
}
.button-explore{
  color: #EEEEEE;
  border-radius: 4px;
  background-color: #0F8277;
  padding: 10px 12px;
  border: none;
  margin-top: 30px;
}
.button-explore::after{
  content: url(../step-project/images/logo/Frame.svg);
  padding-left: 8px;
}
 .menu-header{
width: 249px;
display: flex;
align-items: center;
}
.menu-header-link{
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding-left: 48px;
  line-height: 120%;
  margin-top: 30px;
}
.button-menu{
width:168px ;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 30px;
margin-right: 48px;
}
.link-log-in{
 color: #0F8277;
 font-size: 16px;
 font-weight: 700;
 line-height:120%;
}
.green-button{
  color: #EEEEEE;
  background-color: #0F8277;
  border-radius: 4px;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 700;
line-height: 120%; 
}
.link-learn-more{
  color: #0F8277;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  padding: 10px 12px;
  border-radius: 4px;
  margin-left: 20px;
  border: 1px solid #0F8277;
}
.collor-wrap{
  background-color: #dbf3ed;
}
.baner-section {
  display: flex;
  background-color: #dbf3ed;
  border-radius: 12px;
  margin-bottom: 80px;
  margin-top: 58px;
}
.baner-container{
  padding: 167px 0 184px 110px;

}
.baner-title{
  color: #000;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Quicksand;
}
.baner-dsr{
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  width: 482px;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Quicksand;
}
.baner-link-start{
  display: inline-block;
  color: #eee;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  padding: 10px 12px;
  background-color: #0f8277;
  border-radius: 4px;
  margin-right: 24px;
  font-family: Quicksand;
}
.baner-link-learn{
  display: inline-block;
  color: #0f8277;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  padding: 8px 10px;
  border: 2px solid #0f8277;
  border-radius: 4px;
  font-family: Quicksand;
}

.baner-img{
  position: relative;
  top: 37px;
  left: 94px;

}
.academic-trening{
  color: #0f8277;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  font-family: Quicksand;
  padding-top: 80pxx;
}
.heading-standart{
  display: grid;
  gap: 12px;
}
.academic-trening {
  color: #0f8277;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}
.section-title{
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
  font-family: Quicksand;
}
.subtitle__dscr {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  margin: 0;
  font-family: Quicksand;
}
.traning-card {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  overflow: hidden;
  list-style: none;
}
.card-wrap{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  padding-top: 40px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0; 
}
.card-program-img{
  width: 416px;
  height: 270px;
}
.card-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 15px 24px 15px;
  min-height: 210px;
}
.card-logo-company{
  margin-right: 12px;
}
.dscr-program-card{
  display: flex;
  color: #000;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 16px;
}
.card-title{ 
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Quicksand;
}
.section-name{
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Quicksand;
}
.card-program-title{
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Quicksand; 
}
.card-program-link{
  display: flex;
  align-items: center;
  gap: 12px;
  color: #0f8277;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 0;
}
.card-program-link::before{
  content: "";
  height: 20px;
  width: 20px;
  background-image: url(../step-project/images/logo/cds-react-aria-9.svg);
}


.populare-course{
display: grid;
padding-top: 80px;
padding-bottom: 80px;
}
.courses-card-wrap{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  column-gap: 24px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.card-courses-img{
  width: 416px;
height: 270px;
}
.nav-more-courses{
  display: flex;
  justify-content: center;
}
.nav-pages{
  display: flex;
  align-items: center;
  gap: 16px;
  color:#0F8277;
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  font-family: Quicksand;
}
.futured-section{
  display: grid;
  padding-bottom: 80px;
  gap: 40px;
}
.section-tittle{
  color: #000;
  font-family: Quicksand;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */
  margin-top: 0;
  margin-bottom: 0;
}
.futured-category-wrap{
  display: flex;
  justify-content: space-between;
}
.futured-list{
 display: grid;
 height: fit-content;
 gap: 32px;
 list-style: none;
 padding-left: 0;
 margin-top: 0;
 margin-bottom: 0;
}
.futured-item{
  color: #0F8277;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 24px */ 
}
.futured-item-dscr{
  color: #000;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */ 
  margin-bottom: 0;
}
.partners-section{
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  margin-bottom: 80px;
}
.partners-title{
  margin-bottom: 60px;
}
.partners-logo-wrap{
 display: flex;
 justify-content: space-between;
 align-items: center; 
}
.partners-logo-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.business-section {
display: grid;
grid-template-columns: repeat(2,1fr);
margin-bottom: 70px;
gap: 72px;
}
.business-content-wrap{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
padding-top: 68px;
}
.bussines-img-wrap{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 grid-template-rows: repeat(3,1fr); 
 align-items: center;
 justify-items: center;
 gap: 1px;
 padding-left: 0;
 margin-top: 0;
 margin-bottom: 0;
 list-style-type: none;
}
.business-content-dscr{
  width: 568px;
}
.background-bussines-img{
  display: grid;
background-color:#bababa;
}
.img-background{
  display: grid;
  background-color:#fff;
  width: 100%;
  height:100%;
  justify-items:center;
  align-items: center;
}

.price-warp {
  padding-top: 80px;
  padding-bottom: 100px;
}
.wrap-price-title{
display: flex;
justify-content: center;
}
.title-section-price{
 margin-bottom: 40px; 
}
.price-card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 24px;
  padding-left: 0;
}
.plan-card{
  display: flex;
  flex-direction: column;
  padding: 56px;
  border: 1px solid #0f8277;
  border-radius: 24px;
  min-height: max-content;
  align-items: center;
  background-color: #fdfdfd;
}
.plan-card-style{
  background-color: #0F8277;
}
.plan-card-wrap{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 27px;
  min-height: 286px;
  margin-bottom: 96px;
}
.plan-card-wrap::after{
  content: "";
  position: absolute;
  background-color: #0f8277;
  height: 2px;
  width: 100%;
  border-radius: 80px;
  top: 334px;
}
.plan-card-dscr{
  margin-bottom: 27px;
}
.card-wrap-style::after{
background-color: #fff;
}
.card-wrap-names{
  display: grid;
  gap: 27px;
  justify-items: center;
}
.card-plan-title{
  text-align: center;
}
.card-title-style{
  color: #fff;
}
.plan-card-dscr{
  text-align: center;
  margin-bottom: 0;
}
.card-dscr-style{
  color: #fff;
}
.plan-card-price{
  display: flex;
  color: #000;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Quicksand;
}
.style-card-price{
  color: #fff;
}
.style-price{
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 48px */ 
  margin-right: 16px;
}
.card-btn-link{
  color: #F6FDFF;
  letter-spacing: 0.3px;
line-height: normal;
  border-radius: 4px;
  padding: 10px 12px 10px 12px;
  background-color: #0F8277;
}
.card-style-link{
  background-color: #0f8277;
  border: 1px solid#fff;
  padding: 9px 11px 9px 11px;
}
.card-plan-item{
  color: #000;
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
.card-plan-item::before{
  content: "";
  position: absolute;
  background-image: url(./images/logo/bullit2.svg);
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  left: -32px;
}
.list-style-item{
 color: #fff; 
}
.plan-card-dscr{
  display: grid;
  gap: 16px;
  padding-left: 32px;
}
.list-style-item::before{
background-image: url(./images/logo/bullit.svg);
}
.student-block{
  display: grid;
  justify-items: center;
  padding-top: 80px;
  padding-bottom: 76px;
}
.student-photo-title{
margin-bottom: 40px;
}
.student-photo{
  width: 306px;
height: 210.5px;
}
.student-photo1{
grid-area: a;
}
.student-photo2{
grid-area:b;
}
.student-photo3{
  grid-area:c;  
}
.student-photo4{
  grid-area:d;
}
.student-photo5{
  grid-area:e;
}
.student-photo6{
  grid-area:f;
}
.student-photo7{
  grid-area:g;
}
.student-photo8{
  grid-area:h;
}
.student-photo9{
  grid-area: i;
  width: 636px;
height: 445px;
}
.photo-wrap{
  display: grid;
  gap: 24px;
grid-template-areas:
"a i i h " 
"b i i g "
"c d e f " ;
}
.section-form-wrap{
background-image: url(./images/image\ 32.svg);
background-size: cover;
height: 100%;
width: 100%;
padding-top: 65px;
padding-bottom: 48px;
position: relative;
}
.section-form-wrap::before{
  content: "";
  display: block;
  background-color: rgba(0,0,0,0.6);
  background-size: cover;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.form-wrap{
  display: grid;
  margin: auto auto;
border-radius: 24px;
background-color: #dbf3ed;
background-size: cover;
justify-items: center;
width: 565px;
padding: 30px;
gap: 24px;
position: relative;
}
.form-title{
  margin-bottom: 0;
}
.form-dscr{
  color: #000;
  text-align: center;
  font-family: Quicksand;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
  margin-bottom: 0;
}
.form-container{
  display: flex;
flex-wrap: wrap;
}
.input-label{
  color: #000;
  font-family: Quicksand;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 109.091% */
  margin-bottom: 8px;
}
.form-input{
  width: 505px;
  margin-bottom: 24px;
  color: #8e8e8e;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  border: 1px solid #0F8277;
  background-color: #FDFDFD;
  padding: 12px;
}
.form-input:focus{
color: #000;
outline-color: #0b6158;
}
.text-area{
  resize: none;
  height: 104px;
}
.form-button{
  color:#F6FDFF ;
  width: 196px;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
background: #0F8277;
font-family: Cabin;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.72px;
cursor: pointer;
border: none;
}
.footer-section{
 display: flex;
 justify-content: space-between; 
 padding-top: 64px;
 padding-bottom: 64px;
}
.footer-section-box {
width: 306px;
}
.left-footer{
  display: grid;
  gap: 16px;
}
.footer-title{
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}
.footer-dscr{
  margin-top: 0;
  margin-bottom: 0;
}
.right-footer{
  display: grid;
  justify-items: end;
}
.footer-logo-list{
  display: flex;
  list-style: none;
  gap: 24px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.footer-logo-link{
  display: block;
  height: 32px;
  width: 32px;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-logo-link1{
  background-image: url(./images/social/Frame.svg);
}
.footer-logo-link2{
background-image: url(./images/social/Frame\ \(1\).svg);
}
.footer-logo-link3{
background-image: url(./images/social/Frame\ \(2\).svg);
}
.copyright {
  align-self: self-end;
  margin-top: 0;
  margin-bottom: 0;
}
